<html>
  <title>
    arachnID
  </title>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon_64x64.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  </head>
  <body>

    <div data-name="logo">
        <img src="/static/arachnID_logo.png" alt="arachnID" width=240 height=240/>
    </div>

    <div data-name="title">
      arachnID
    </div>

    <div data-name="subheading">
      A spider identification app for Android, by Nicholas Whitehead.
    </div>

    <div data-name="links">
      <p>This app is a work in progress. Check my <a title="" href="https://twitter.com/nicowhitehead" target="_blank">Twitter</a> for updates.</p>
    </div>

  </body>
</html>