<html>
  <title>
    arachnID
  </title>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon_64x64.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
  </head>
  <body alink = "#ff6c6c" link = "#fff9e4" vlink = "#fde89d">

	<div data-name="main">
      <div data-name="logo">
          <img src="/static/arachnID_logo_testfore.png" alt="arachnID" width=240 height=240/>
      </div>

      <div data-name="title">
        arachnID
      </div>
    </div>

    <hr style="height:2px;
    		   width:400px;
    		   border:none;
               background-color:#fff9e4">

    <div data-name="subheading">
      A spider identification app for Android, by Nicholas Whitehead.
    </div>

    <div data-name="wip">
      <p>This app is a work in progress. Check back here for updates, or reach out to me:</p>
    </div>

    <div data-name="links">
      <a href = "mailto: nwhitehe@unca.edu">nwhitehe@unca.edu</a>
    </div>

  </body>
</html>